@model MasterViewModel
@{
    ViewBag.Title = "Konser Bilgisini Düzenleme Ekranı";
    Layout = "_Layout2";
}

<style>
    body {
        margin-top: 80px;
        background-color: #eee;
    }
</style>

<h2>Konser Düzenle</h2>

<form asp-action="KonserDuzenle" method="post">
    <input type="hidden" asp-for="KonserEkle.KonserID" />
    <input type="hidden" asp-for="KonserEkle.SanatciId" />

    <div class="form-group">
        <label asp-for="KonserEkle.KonserName"></label>
        <input asp-for="KonserEkle.KonserName" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="KonserEkle.KonserDate"></label>
        <input asp-for="KonserEkle.KonserDate" type="date" class="form-control" />
    </div>

    <div class="form-group">
        <label for="KonserLocId">Konser Alanı</label>
        <select class="form-control" asp-for="KonserEkle.KonserLocId">
            <option value="">Konser Alanı Seçiniz</option>
            @if (Model.KonserEkle.KonserAlanlari != null)
            {
                @foreach (var alan in Model.KonserEkle.KonserAlanlari)
                {
                    <option value="@alan.konserLocId">@alan.alanName</option>
                }
            }
        </select>
        <span asp-validation-for="KonserEkle.KonserLocId" class="text-danger"></span>
    </div>

    <div class="form-floating w-100">
        <select asp-for="KonserEkle.KategoriAdi" class="form-control" style="background-color: #f2fff8;">
            <option value="">Kategori Seçiniz</option>
            <option value="VIP">VIP</option>
            <option value="Standard">Standard</option>
        </select>
        <span asp-validation-for="KonserEkle.KategoriAdi" class="text-danger"></span>
    </div>

    <br />

    <div class="form-floating w-100">
        <select asp-for="KonserEkle.KonserDurum" class="form-control" style="background-color: #f2fff8;">
            <option value="">Konser Durumu</option>
            <option value="Planned">Devam Ediyor</option>
            <option value="Rescheduled">Tarihi Degistirildi</option>
            <option value="Cancelled">Ertelendi</option>
        </select>
        <span asp-validation-for="KonserEkle.KonserDurum" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="Fiyat">Bilet Fiyatı</label>
        <input type="number" step="0.01" class="form-control" asp-for="KonserEkle.Fiyat" required />
        <span asp-validation-for="KonserEkle.Fiyat" class="text-danger"></span>
    </div> 

    <div class="form-group">
        <label for="KisiSayisi">Kişi Sayısı</label>
        <input type="number" class="form-control" asp-for="KonserEkle.KisiSayisi" required />
        <span asp-validation-for="KonserEkle.KisiSayisi" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="KonserTanim">Konser Tanımı</label>
        <textarea class="form-control" asp-for="KonserEkle.KonserTanim" rows="4"></textarea>
        <span asp-validation-for="KonserEkle.KonserTanim" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-secondary">Güncelle</button>
</form>
