﻿@using KonserBiletim.ViewModels
@model LoginViewModel

<!doctype html>
<html lang="en" data-bs-theme="auto">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>KonserBiletim - Giriş Yap</title>
    <style>
        body {
            background-color: #f8f9fa;
            margin-top:50px;
        }

        .form-floating input:focus,
        .form-floating select:focus {
            outline: none;
            box-shadow: 0 0 20px rgba(0, 123, 255, 0.2);
        }

        .btn:focus {
            border: 2px solid;
            border-block-color: #f2fff8;
            color: #f2fff8;
        }

        .btn:hover {
            background-color: #2c2c2c;
        }
    </style>
</head>
<body class="align-items-lg-center">
    <section class="bg-light p-3 p-md-4 p-xl-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-xxl-11">
                    <div class="card border-light-subtle shadow-sm" style="background-color:#eee;">
                        <div class="row g-0">
                            <div class="col-12 col-md-6">
                                <img class="img-fluid rounded-start w-100 h-100 object-fit-cover" loading="lazy" src="~/images/jazz.jpg" alt="Welcome back you've been missed!">
                            </div>
                            <div class="col-12 col-md-6 d-flex align-items-center justify-content-center">
                                <div class="col-12 col-lg-11 col-xl-10">
                                    <div class="card-body p-3 p-md-4 p-xl-5" style="background-color: #eee;">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="mb-5">
                                                    <h3 class="text-center">Hoş Geldin!</h3>
                                                </div>
                                            </div>
                                        </div>

                                        <form asp-controller="Login" asp-action="Log" method="post">
                                            <div class="row gy-3 overflow-hidden">
                                                <div class="form-floating w-100">
                                                    <select asp-for="Role" class="form-control" style="background-color: #f2fff8;">
                                                        <option value="">Rol seçin</option>
                                                        <option value="Musteri">Müşteri</option>
                                                        <option value="Organizator">Organizatör</option>
                                                        <option value="Admin">Admin</option>
                                                    </select>
                                                    <span asp-validation-for="Role" class="text-danger"></span>
                                                </div>
                                                <div class="col-12">
                                                    <div class="form-floating mb-3">
                                                        <input asp-for="Email" class="form-control" name="email" id="email" placeholder="name@example.com" required>
                                                        <label for="email" class="form-label">Email</label>
                                                        <span asp-validation-for="Email" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="form-floating mb-3">
                                                        <input asp-for="Password" class="form-control" name="password" id="password" value="" placeholder="Password" required>
                                                        <label for="password" class="form-label">Şifre</label>
                                                        <span asp-validation-for="Password" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" value="" name="remember_me" id="remember_me">
                                                        <label class="form-check-label text-secondary" for="remember_me">
                                                            Beni hatırla
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="d-grid">
                                                        <button class="btn btn-dark btn-lg" type="submit">Giriş Yap</button>
                                                    </div>
                                                </div>
                                            </div>
                                            @if (TempData["mesaj"] != null)
                                            {
                                                <div class="alert alert-danger">
                                                    @TempData["mesaj"]
                                                </div>
                                            }
                                        </form>
                                        <div class="row">
                                            <div class="col-12">
                                                <p class="text-center text-muted mt-4 mb-0">
                                                    Zaten hesabın var mı? @Html.ActionLink("Kayıt Ol", "Index", "Register", null, new { @class = "fw-bold text" })
                                                </p>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
