@model KonserViewModel

<h2>Konser Ekle</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="KonserName" class="control-label"></label>
        <input asp-for="KonserName" class="form-control" />
        <span asp-validation-for="KonserName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="KonserDate" class="control-label"></label>
        <input asp-for="KonserDate" class="form-control" />
        <span asp-validation-for="KonserDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="KonserLocId" class="control-label">Konser Alanı</label>
        <select asp-for="KonserLocId" class="form-control" asp-items="@(new SelectList(Model.KonserAlanlari, "konserLocID", "alanName", Model.KonserLocId))"></select>
        <span asp-validation-for="KonserLocId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="SanatciId" class="control-label">Sanatçı</label>
        <select asp-for="SanatciId" class="form-control" asp-items="@(new SelectList(Model.Sanatcilar, "sanatciID", "sanatciName", Model.SanatciId))"></select>
        <span asp-validation-for="SanatciId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="KonserTanim" class="control-label"></label>
        <textarea asp-for="KonserTanim" class="form-control"></textarea>
        <span asp-validation-for="KonserTanim" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="KonserDurumu" class="control-label">Konser Durumu</label>
        <select asp-for="KonserDurumu" class="form-control" asp-items="@(new SelectList(Model.KonserDurumlari, "konser_durumu", "konser_durumu", Model.KonserDurumu))"></select>
        <span asp-validation-for="KonserDurumu" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="YeniTarih" class="control-label"></label>
        <input asp-for="YeniTarih" class="form-control" />
        <span asp-validation-for="YeniTarih" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Ekle" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Geri Dön</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
