@model KonserBiletim.ViewModels.KonserViewModel

@{
    ViewData["Title"] = "Konser Düzenle";
}

<h2>Konser Düzenle</h2>

<form asp-action="Edit" method="post">
    <div class="form-group">
        <label asp-for="KonserName" class="control-label"></label>
        <input asp-for="KonserName" class="form-control" />
        <span asp-validation-for="KonserName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="KonserDate" class="control-label"></label>
        <input asp-for="KonserDate" class="form-control" />
        <span asp-validation-for="KonserDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Sanatçı Fotoğrafı</label><br />
        <img src="@Url.Content(Model.ProfilFotoPath)" alt="Sanatçı Fotoğrafı" style="max-width: 200px;" />
    </div>
    <div class="form-group">
        <label asp-for="KonserLocId" class="control-label">Konser Alanı</label>
        <select asp-for="KonserLocId" class="form-control" asp-items="@(new SelectList(Model.KonserAlanlari, "konserLocID", "alanName"))"></select>
        <span asp-validation-for="KonserLocId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="SanatciId" class="control-label">Sanatçı</label>
        <select asp-for="SanatciId" class="form-control" asp-items="@(new SelectList(Model.Sanatcilar, "sanatciID", "sanatciName"))"></select>
        <span asp-validation-for="SanatciId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="KonserTanim" class="control-label"></label>
        <textarea asp-for="KonserTanim" class="form-control"></textarea>
        <span asp-validation-for="KonserTanim" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="KonserDurumu" class="control-label">Konser Durumu</label>
        <select asp-for="KonserDurumu" class="form-control" asp-items="@(new SelectList(Model.KonserDurumlari, "konser_durumu", "konser_durumu"))"></select>
        <span asp-validation-for="KonserDurumu" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="YeniTarih" class="control-label"></label>
        <input asp-for="YeniTarih" class="form-control" />
        <span asp-validation-for="YeniTarih" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Kaydet</button>
</form>
