@{
    ViewData["Title"] = "Ödeme Tamamlandı";
}

<h2>@ViewData["Title"]</h2>

<p>Ödemeniz başarıyla tamamlanmıştır. Teşekkür ederiz!</p>
<a asp-action="SepetGoruntule" class="btn btn-primary">Sepetime Dön</a>
